##---------------------------------------------------------------------------
## 모든 클라이언트 툴을 이용한 DB 접속시에 적용되는 설정
##---------------------------------------------------------------------------
[client]

port = 3306
socket = /tmp/mysql.sock
default-character-set=utf8


##--------------------------------------------------------------------------------
## 데몬프로세스 관련 설정
##--------------------------------------------------------------------------------

[mysqld]

basedir = /usr/local/mysql
datadir=/data/mysql_data/
socket=/tmp/mysql.sock
pid_file = /data/mysql_data/dotori.pid
tmpdir =/tmp  							
port=3306
secure_file_priv = /mysql_space   				


##---------------------------------------------------------------------------
## Logging
##---------------------------------------------------------------------------

#general_log = OFF   						
#general_log_file=/usr/local/mysql/data/dotori-general.log

#log_warnigs= 1  						
log_error=/data/mysql_logs/dotori.err 
#log_output= FILE,TABLE 				

#slow_query_log= ON  				
#slow_query_log_file=/usr/local/mysql/data/dotori-slow.log
#log_slow_admin_statements =1 					
#log_queries_not_using_indexes = OFF       


##---------------------------------------------------------------------------
## Character Set
##---------------------------------------------------------------------------

character-set-client-handshake = FALSE        			
skip-character-set-client-handshake     			
init_connect = SET collation_connection = utf8_general_ci
init_connect = SET NAMES utf8
character_set_server = utf8
collation_server = utf8_general_ci

##---------------------------------------------------------------------------
## DB 기본 설정
##---------------------------------------------------------------------------
lower_case_table_names = 1                  			
local_infile = 0   						 
log_bin_trust_function_creators =1				

#sql_mode= 							

##---------------------------------------------------------------------------
## Transaction 설정
##---------------------------------------------------------------------------

autocommit = 1	 						
#tx_isolation = REPEATABLE-READ					


##---------------------------------------------------------------------------
## Connection 설정
##---------------------------------------------------------------------------
skip-name-resolve =1 
max_connections = 1000
max_connect_errors = 1000			                
back_log = 50  			                     		
								
wait_timeout= 20						
interactive_timeout = 3600                 			
connect_timeout = 10                        			

table_open_cache = 4000

table-definition-cache = 4000               			

thread_cache_size = 100   					

#thread_handling = one-thread-per-connection 			

##---------------------------------------------------------------------------
## Thread Pool 설정 - thread_handling = pool-of-threads 일 때만 의미 있음 , 6.0 혹은 Mariadb에서만 가능 
##---------------------------------------------------------------------------
# thread_pool_size = 4                      			
# thread_pool_max_threads = 500             			
# thread_pool_idle_timeout = 60             			
# thread_pool_stall_limit = 500             			

# thread_pool_oversubscribe = 3             			

##---------------------------------------------------------------------------
## Connection 메모리 설정
##---------------------------------------------------------------------------

sort_buffer_size = 256K         				
join_buffer_size = 256K        					
read_buffer_size = 256K         				
read_rnd_buffer_size = 256K     				
#thread_stack = 256K            				
max_allowed_packet = 16M
tmp_table_size = 1M             			
max_heap_table_size=4M  					
group_concat_max_len = 32M      				
net_buffer_length = 16K         				


##---------------------------------------------------------------------------
## 쿼리 캐시 설정
##---------------------------------------------------------------------------			

query_cache_size = 32M  					

query_cache_limit = 2M  					

#query_cache_type = DEMAND       				

##---------------------------------------------------------------------------
## InnoDB 설정
##---------------------------------------------------------------------------

# base setting --------------------------------------------------------------
#innodb_page_size = 16K
default_storage_engine = InnoDB

innodb_data_home_dir=/data/mysql_data/
innodb_file_per_table=1   					
innodb_data_file_path=ibdata1:100M;ibdata2:100M:autoextend  	
innodb_autoextend_increment = 16M

innodb_file_format= Barracuda  
innodb_file_format_max=Barracuda

#innodb_buffer_pool_dump_at_shutdown = 1                	
#innodb_buffer_pool_filename = innodb_buffer_pool_dump  	
#innodb_buffer_pool_load_at_startup = 1                 	

####set global innodb_buffer_pool_dump_now=1 	
####set global innodb_buffer_pool_load_now=1
####SET GLOBAL innodb_buffer_pool_load_abort = ON;
innodb_open_files= 4000  					
innodb_adaptive_hash_index = ON					
# memory setting --------------------------------------------------------------

innodb_buffer_pool_size = 1024M   				
#innodb_additional_mem_pool_size = 16M  			

innodb_buffer_pool_instance = 6  				
#innodb log setting -----------------------------------------------------------

innodb_log_group_home_dir =/data/mysql_logs     		
innodb_log_file_size = 128M    					
innodb_log_files_in_group = 3   				
innodb_log_buffer_size = 8M  			  		 
                                                  		


# thread setting -----------------------------------------------------------

#innodb_commit_concurrency = 0       				
								

#innodb_thread_concurrency = 0   				

#innodb_thread_sleep_delay=0           				
#innodb_adaptive_max_sleep_delay = 150000 			
#innodb_concurrency_tickets = 500         			
innodb_read_io_threads = 4           				
innodb_write_io_threads = 4          				

# disk flush setting -------------------------------------------------------------------------						
innodb_flush_log_at_trx_commit = 0 				

innodb_flush_method = O_DIRECT					

#innodb_flush_neighbors = 1          				
innodb_doublewrite=0  						

#innodb_io_capacity = 100            				
#innodb_old_blocks_pct=37    					
#innodb_old_blocks_time=1000  					


#innodb_max_dirty_pages_pct=75       				
#innodb_adaptive_flushing=ON         				
innodb_purge_threads = 1    					
innodb_max_purge_lag = 0    		

# innodb transaction ---------------------------------------------------------------

#innodb_table_locks = 1              				

innodb_lock_wait_timeout = 120 					
#innodb_support_xa=0  						

#innodb_print_all_deadlocks = ON      				
#innodb_status_output = ON;          	
#innodb_status_output_locks = ON    

##---------------------------------------------------------------------------
## mysql 클라이언트 툴을 이용한 DB 접속시에만 적용되는 설정
##---------------------------------------------------------------------------
[mysql]
default-character-set = utf8
no-auto-rehash          

##---------------------------------------------------------------------------
## MyISAM 스토리지 엔진 관련 설정
##---------------------------------------------------------------------------
[myisam]
#default-storage-engine = myisam

key_buffer_size = 32M  		
bulk_insert_buffer_size = 4M  	
myisam_sort_buffer_size = 1M  	
myisam_max_sort_file_size = 64M 
#myisam-recover-option= BACKUP,FORCE	
#myisam_repair_threads = 1  	


##---------------------------------------------------------------------------
## mysqld_safe 데몬에만 적용되는 설정
##---------------------------------------------------------------------------
#[mysqld_safe]
#log-warnings = 1  									 
#log-error=/data/mysql_logs/mysql_safe.err	 
#pid-file=/data/mysql_data/dotori.pid  	
#socket = /tmp/mysql.sock


##---------------------------------------------------------------------------
## mysqldump 툴을 이용한 DB 접속시에만 적용되는 설정
##---------------------------------------------------------------------------
[mysqldump]
max-allowed-packet    = 1G
default-character-set = utf8
quick                    

##---------------------------------------------------------------------------
## myisamchk 툴을 이용한 DB 접속시에만 적용되는 설정
##---------------------------------------------------------------------------
[myisamchk]
key-buffer-size   = 10M
sort-buffer-size  = 10M
read-buffer-size  = 8M
write-buffer-size = 8M


